#guidelines {
  text-align: left;
  background: white;
  color: black;
  padding-top: $s2;
  a {
    color: $color-primary-alt;
  }
  a:hover {
    color: black;
  }
  h2:nth-child(1) {
    &::after {
      margin-top: $s4;
      content: "";
      display: block;
      float: left;
      height: 300px;
      width: 300px;
      background-color: transparent;
      border: 5px solid $color-primary-alt;
      border-radius: 50% 50%;
      margin-left: 50px;
      margin-right: 50px;
      margin-bottom: $s4;
    }
  }
}
#contribute {
  display: flex;
  flex-direction: column;
  align-items: center;
  .container ol {
    padding: 15px 50px 15px 50px;
    background-color: $color-blueBackground;
    color: white;
    border: 5px solid $color-secondary;
    width: 450px;
  }
  text-align: center;
  background: white;
  color: black;
  a {
    color: $color-primary-alt;
  }
  a:hover {
    color: black;
  }
  h2:nth-child(1) {
    &::after {
      content: "";
      display: block;
      float: right;
      height: 300px;
      width: 300px;
      background-color: transparent;
      border: 5px solid $color-primary;
      border-radius: 50% 50%;
      margin-left: 50px;
      margin-right: 50px;
      margin-bottom: $s5;
    }
  }
}
aside {
  line-height: 3em;
  &.profile {
    border: 3px solid black;
    text-align: center;
    font-family: $font-paragraph;
    ul li {
      list-style: none;
    }
    a {
      text-decoration: none;
      color: $color-primary-alt;
    }
    a:hover {
      color: black;
    }
  }

  &#styles {
    border: 3px solid black;
    text-align: left;
    ul li {
      list-style: none;
    }
    a {
      text-decoration: none;
      color: $color-primary-alt;
    }
    a:hover {
      color: black;
    }
  }
}
