#guidelines {
    background: white;
    color: black;
    a {
        color: $color-primary-alt;
    }
    a:hover{
        color: black;
    }
}
#contribute {
    background: white;
    color: black;
    a {
        color: $color-primary-alt;
    }
    a:hover{
        color: black;
    }
}

aside {
    font-family: $font-paragraph;
}