footer {
  display: flex;
  justify-content: center; 
  background: $color-background;
  color: white;
  font-family: $font-paragraph;
  a {
    color: $color-secondary;
    text-decoration: none;
  }
  a:hover { 
        color: white;
  }
  svg {
    max-width: 20px;
    fill: $color-secondary;
  }
}