.page-footer {
  // margin-top: 200px;
  display: flex;
  justify-content: center;
  background: $color-background;
  color: white;
  font-family: $font-paragraph;
  a {
    color: $color-secondary;
    text-decoration: none;
  }
  a:hover {
    color: white;
  }
  svg {
    max-width: 20px;
    fill: $color-secondary;
  }
  .container {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    p:nth-child(4) {
      grid-column: span 4;
      text-align: center;
    }
  }
  ul {
    content: "";
    display: block;
    float: center;
    height: 300px;
    width: 300px;
    background: linear-gradient($color-background 50%, $color-primary 50%);
    background-size: 200% 200%;
    animation: gradient-animate 15s infinite linear;
    border: 5px solid $color-secondary;
    border-radius: 50%;
    margin: 50px;
    padding: 50px;
  }
  @keyframes gradient-animate {
    0% {
      background-position: 50% 50%;
    }
    50% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 50% 50%;
    }
  }
}
