header {
  font-family: $font-family;
  justify-content: center;
  display: flex;
  max-width: 100%;
  width: 100%;
  background-color: $color-primary;

  .container {
    padding: 150px;
    border-radius: 100% 100%;
    border: 5px solid $color-secondary;
    background-color: $color-background;
    color: white;
  }
  h1 {
    background-color: $color-background;
    color: $color-secondary;
    text-align: center;
    text-shadow: 5px 5px $color-primary-alt;
    align-self: center;
    font-size: $font-size-h1;
  }
  .link-github svg {
    display: none;
  }
}
