.skip-link {
  background-color: $color-background;
  color: $color-primary;
  text-decoration: none;
  display: flex;
  justify-content: center;
}
header {
  font-family: $title-font;
  justify-content: center;
  display: flex;
  max-width: 100%;
  width: 100%;
  background-color: $color-background;

  .container {
    width: 800px;
    height: 800px;
    padding: 100px;
    border-radius: 100% 100%;
    border: 5px solid $color-secondary;
    background-color: $color-background;
    color: white;
    justify-items: center;
  }
  h1 {
    color: $color-secondary;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 5px 5px $color-primary-alt;
    align-self: center;
    font-size: 10em;
    line-height: 1em;
  }
  h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 2em;
  }
  .container p a {
    color: $color-primary-alt;
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem;
  }
  .container a {
    text-decoration: none;
    color: $color-primary;
  }
  svg {
    width: 20px;
    height: 20px;
    fill: $color-secondary;
  }
}
