#main {
  background-color: $color-background;
  color: white;
  font-family: $font-family;
  font-size: $font-size-text;
  h2 {
    text-transform: uppercase;
    color: $color-primary;
    font-size: $font-size-h2;
    padding: 0 70px;
  }
  p {
    margin: 10px 0 20px;
    padding: 0 70px 0;
  }
  #about {
    padding-top: 50px;
    h2:nth-child(1) {
      &::after {
        content: "";
        display: block;
        float: right;
        height: 300px;
        width: 300px;
        background-color: transparent;
        border: 5px solid $color-secondary;
        border-radius: 50% 50%;
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 50px;
      }
    }
    section:nth-child(even) h2::after {
      float: left;
    }
  }
  #about .container + .container p:nth-child(3) {
    display: flex;
    width: 400px;
    height: 400px;
    background-image: linear-gradient(
      $color-primary,
      $color-background,
      $color-background
    );
    justify-self: center;
    align-items: center;
    border: 3px solid $color-secondary;
    border-radius: 50%;
  }
  // .container :nth-child(5) {
  //   grid-column: 2/4;
  //   grid-row: 1;
  // }
  // .container :nth-child(6) {
  //   grid-column: 2/4;
  //   grid-row: 1;
  // }
  .container ul {
    display: flex;
    flex-direction: column;
    grid-column: 2;
    grid-row: 2;
    justify-self: center;
  }

  ul li {
    list-style: none;
    text-align: center;
  }
  // .container ul :nth-child(2) {
  //   grid-column: 1;
  // }
  blockquote {
    clear: both;
    strong {
      display: block;
      text-transform: uppercase;
      font-size: $font-size-h2;
    }
    p {
      border-top: 5px solid $color-secondary;
      border-bottom: 5px solid $color-secondary;
      box-sizing: border-box;
      margin: 0;
      padding: 15px 70px 20px;
    }
    box-sizing: border-box;
    margin: 100px auto 15px;
    padding: 15px 0px;
    width: 100%;
    background-color: $color-blueBackground;
    color: $color-secondary;
  }

  a {
    text-decoration: none;
    color: $color-primary-alt;
    &:hover {
      color: white;
    }
  }
}
