nav {
  grid-area: nav;
  display: flex;
  justify-content: center;
  background: $color-background;
  ul {
    display: flex;
    list-style: none;
    gap: 20px;
    justify-content: center;
    background: $color-background;
    padding: 20px 3em;
    margin: 100px 5em;
    border-top: 2px solid $color-primary-alt;
    border-right: 2px solid $color-primary-alt;
    border-left: 2px solid $color-primary;
    border-bottom: 2px solid $color-primary;
    box-sizing: border-box;
    li {
      margin: 0;
      a {
        font-size: $font-size-h4;
        font-weight: 600;
        text-transform: uppercase;
        color: white;
        text-decoration: none;
        padding: 10px 20px;
        font-family: $font-header;
        transition: 0.3s;
      }
      a:hover {
        color: $color-secondary;
        transform: scale(1.2);
        background: $color-background;
      }
    }
  }
}
@media (max-width: 800px) {
  nav {
    ul {
    margin: 25px 10px;
    padding: 15px 5px;
    display: block;
    padding: 25px;
    li {
      padding: 5px;
    }
    }
  }
}

