@import url("https://fonts.googleapis.com/css2?family=Expletus+Sans:ital,wght@0,400..700;1,400..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Puritan:ital,wght@0,400;0,700;1,400;1,700&display=swap");

$color-primary: #6cafe4 !default;
$color-blueBackground: #01426c !default;
$color-primary-alt: #bb3d9d !default;
$color-secondary: #dec26a !default;
$color-background: #161c20 !default;

$font-title: "Puritan", sans-serif;
$font-header: "Expletus Sans", sans-serif;
$font-paragraph: "Poppins", sans-serif;

$brand-colors: (
  primary: $color-primary,
  primary-alt: $color-primary-alt,
  secondary: $color-secondary,
) !default;

$color-body: scale-color(
  $color-primary,
  $lightness: -30%,
  $saturation: -50%
) !default;
$color-gray: mix(#767676, $color-body, 70%) !default;

$colors: map-merge(
  $brand-colors,
  (
    background: $color-background,
    text: $color-body,
    light: #fff,
  )
);

@function color($key) {
  @return map-get($colors, $key);
}

@function svgColor($color) {
  @return "%23" + str-slice("#{color($color)}", 2, -1);
}

$link-color: color(primary) !default;
$border-radius: 8px !default;

$font-family: "Poppins", sans-serif;
$header-font: "Puritan", sans-serif;
$title-font: "Expletus Sans", sans-serif;

$font-weight-strong: 500 !default;
$font-size-h1: 6rem !default;
$font-size-h2: 2rem !default;
$font-size-h3: 2rem !default;
$font-size-h4: 1.35rem !default;
$font-size-text: 1rem !default;

$font-sizes: (
  h1: $font-size-h1,
  h2: $font-size-h2,
  h3: $font-size-h3,
  h4: $font-size-h4,
  text: $font-size-text,
);

// stylelint-disable
:root {
  @each $key, $color in $colors {
    --color-#{$key}: #{$color};
  }

  --color-anchor: #{$link-color};
  --title-font: "Puritan", sans-serif;
  --header-font: "Expletus Sans", sans-serif;
  --font-family: "Poppins", sans-serif;
  --font-weight-strong: #{$font-weight-strong};

  @each $key, $size in $font-sizes {
    --font-size-#{$key}: #{$size};
  }

  --border-radius: #{$border-radius};
}

